* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #FFF159;
  padding: 12px 0;
}

.header-content {
  max-width: 510px;
  margin: 0 auto;
}

.search-form {
  display: flex;
}

.search-input {
  flex-grow: 1;
  margin-right: 14px;
}

.search-button {
  padding: 12px 35px;
}

.content {
  max-width: 510px;
  margin: 0 auto;
  overflow: auto;
}

.results-title {
  font-size: 16px;
  font-weight: 400;
}

.result-item {
  border: solid 1px;
  border-radius: 4px;
  display: flex;
  padding: 13px;
  margin-top: 20px;
}

.result-item-img {
  max-width: 128px;
  max-height: 119px;
}

.result-item-content {
  flex-grow: 1;
  padding: 0 13px;
}

.result-item-title {
  margin: 0;
  font-weight: 700;
}

.result-item-condition {
  margin-top: 4px;
  font-size: 14px;
}

.result-item-sell-count {
  margin-top: 44px;
  font-size: 14px;
}

.result-item-price {
  font-weight: bold;
  font-size: 28px;
  color: #5791A4;
}